$landing-page-title-background-color: $black;

.landing-page {
	&__title {
		font-family: $title-font;
		background-color: $landing-page-title-background-color;
		color: $white;

		div {
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(20);

			h2 {
				font-size: 1em;
				color: $light-gray;
			}
		}
	}

	&__form-container {
		padding-top: rem-calc(20);
	}
}

.h3 {
	font-size: 1.5em;
	line-height: 1em;
	font-family: $title-font;
}
