$landing-page-title-background-color: $black;

.landing-page {
	width: 100%;
	height: 100%;
	display: block;
	
	&__title {
		font-family: $title-font;
		background-color: $landing-page-title-background-color;
		color: $white;

		div {
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(20);

			h2 {
				font-size: 1em;
				color: $light-gray;
			}
		}
	}

	&__form-container {
		width: 80%;
		margin: auto;
		padding-top: rem-calc(20);
	}
	
	&__footer {
		position: absolute;
		bottom: 0px;
		background-color: $light-gray;
		font-size: 0.8em;
		padding: 3em;
		h3 {
			font-size: 1.5em;
		}
	}
}

.h3 {
	font-size: 1.5em;
	line-height: 1em;
	font-family: $title-font;
}
