// Variables

// Padding
$padding-small: 0.3rem;
$padding: 1rem;
$padding-large: 2rem;

// Margin
$margin-small: 0.3rem;
$margin: 1rem;
$margin-large: 2rem;

// Radius
$border-radius: 1rem;

// Colors
$white: white;
$dark-white: #f7f7f7;

$black: black;
$light-black: lighten($black, 10%);

$light-gray: lightgray;
$gray: gray;
$dark-gray: #4F4F4F;
