<h2>Recherche avancée</h2>
<div class="field">
    <label> Prénom </label><input class="form-control" type="text" [(ngModel)]="search_firstname">
    <label> Nom </label><input class="form-control" type="text" [(ngModel)]="search_lastname">
    <label> Groupes </label>
    <div class="medium-12 large-6" *ngFor="let id of ids;">
        <h3>{{ groups[id].name }}</h3>
        <div class="medium-12 large-6" *ngFor="let field of groupfields[id];">
    	    <label> {{ field.name }} </label><input class="form-control" type="text" [(ngModel)]="search">
        </div>
    </div>
</div>
