    <nav class="navbar sticky-top navbar-toggleable-sm">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#groupNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      <a href="#" class="navbar-brand">Some Group</a>
      <div class="collapse navbar-collapse" id="groupNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li>
            <a href="#" class="nav-link">Members</a>
          </li>
          <li>
            <a href="#" class="nav-link">Chat</a>
          </li>
          <li>
            <a href="#" class="nav-link">Settings</a>
          </li>
          <li>
            <a href="#" class="nav-link"><i class="fa fa-search"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="group-content">
      <div class="row align-justify group-writing-wrapper" hidden id="write-new-post" data-toggler=".hide">
        <div class="column medium-9 large-8 large-offset-2 medium-offset-3 group-writing-pane">
          <h4>Post in : Group 1</h4>
          <input type="text" placeholder="title"/>
          <textarea rows="4" placeholder="content"></textarea>
          <div class="button-group">
            <button class="button"><i class="fa fa-camera"></i></button>
            <button class="button"><i class="fa fa-video-camera"></i></button>
            <button class="button"><i class="fa fa-file-o"></i></button>
            <button class="button"><i class="fa fa-calendar-o"></i></button>
          </div>
        </div>
      </div>
      <div class="add-button" hidden>
        <button type="button" data-toggle="write-new-post" class="large button">+</button>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">This is a title</h4>
          <h6 class="card-subtitle mb-2 text-muted">by John Smith on Dec, 24</h6>
          <div class="card-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita
            </p>
            <div class="btn-group">
              <button class="btn" name="save"><i class="fa fa-star"></i></button>
              <button class="btn" name="remind"><i class="fa fa-bell"></i></button>
              <button class="btn" name="reply"><i class="fa fa-comment"></i></button>
              <button class="btn" name="share"><i class="fa fa-share-alt"></i></button>
            </div>
          </div>

        </div>
      </div>

    </div>
