.app {

}

.Avatar {
    border-radius: 50%;
    background-size: cover;

    &__Large {
        height: 60px;
        width: 60px;
        margin: 5px;
    }

    &__Medium {
        height: 50px;
        width: 50px;
    }
}

.h3 {
    &__title {
        font-size: 2em;
        line-height: 1em;
    }

    &__subtitle {
        font-family: Georgia;
    }
}
