.aside {
    width: $aside-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background-color: $color-aside;
    color: $color-font-aside;

    &__navlinks {
        margin: 0;

        .fa {
            width: 1em;
            margin-right: 0.5em;
        }
    }

    &__navlink {
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        padding: 0.5em 1em;

        a {
            color: $color-font-aside;
        }

        &:first-child {
            border-top: 1px solid lighten($color-aside, 10%);
        }
        border-bottom: 1px solid lighten($color-aside, 10%);


        &:hover {
            background-color: lighten($color-aside, 20%);
        }
        &.active, &.router-link-active {
            background-color: lighten($color-aside, 10%);
        }
    }
}

.aside--main-container {
    margin-left: $aside-width;
}
