<h1>
    {{ chat.name }}
    <button *ngIf="myChatMember.is_admin" (click)="seeAddMember()"
        class="hollow warning small button small-6 columns">
        <i class="fa fa-plus"></i>
    </button>
</h1>
<!-- TODO : faire un champ avec autocomplétion https://github.com/oferh/ng2-completer, nécessite angular2:1.0.0
<div id="addMember" [hidden]="add">
    <div class="input-group">
      <input class="input-group-field" type="text" [(ngModel)]="searchUser" (input)="newMember">
      <div class="input-group-button">
          <button type="submit" class="hollow button postfix" value="Add" (click)="addMember(newMember)">
              <i class="fa fa-plus"></i>
          </button>
      </div>
    </div>
</div>-->
<div [hidden]="!add">
    <div class="input-group">
    <select [(ngModel)]="newMember" class="input-group-field">
        <option *ngFor="let user of users" [value]="user.id">{{user.firstname}} {{user.lastname}}</option>
    </select>
    <div class="input-group-button">
        <button type="submit" class="hollow button postfix" value="Add" (click)="addMember()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    </div>
</div>
<div class="row">
<div class="small-12 medium-6 columns">
    <h2>
        <button class="hollow small" (click)="seeMessages()">
        <i class="fa fa-comments"></i> Messages
        </button>
    </h2>
    <div *ngIf="chat.messages && messages">
        <div *ngFor="let message of chat.messages">
            <div *ngIf="message.chatmember && message.chatmember.user && message.chatmember.user.photo" class="shrink centervertical">
                <div class="Avatar Avatar__Large" [style.background-image]="'url(' + message.chatmember.user.photo.file + ')'"></div>
            </div>
            <div *ngIf="!(message.chatmember && message.chatmember.user && message.chatmember.user.photo)" class="shrink centervertical">
                <div class=" Avatar Avatar__Large" ></div>
            </div>
            <div class="centervertical">
                <div class="align-justify">
                    &nbsp;
                    <a *ngIf="message.chatmember && message.chatmember.user" [routerLink]="['/Users/Details', {id: message.chatmember.user.id}]" class="name">
                        <strong>
                            &nbsp;{{ message.chatmember.user.firstname }}&nbsp;{{ message.chatmember.user.lastname }}
                        </strong>
                    </a>
                    <span> {{message.date|date:'yMMMdjm'}} </span>
                    <p> {{message.text}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group" *ngIf="messages && myChatMember.is_member">
      <input class="input-group-field" type="text" [(ngModel)]="newMessage">
      <div class="input-group-button">
        <input type="submit" class="button" value="Envoi" (click)="sendMessage()">
      </div>
    </div>
</div>
<div class="small-12 medium-6 columns">
    <h2> Paramètres </h2>
    <button class="hollow small button" (click)="putView(1)"> Voir membres </button>
    <button class="hollow small button" (click)="changeRole(myChatMember.id,'member')"
     *ngIf="!myChatMember.is_member && !myChatMember.isBanned">
        Rejoindre la discussion
    </button>
    <button class="hollow small button" (click)="putView(2)" *ngIf="myChatMember.is_admin">
        Gérer les membres
    </button>
    <button class="hollow small button" (click)="putView(3)" *ngIf="myChatMember.is_admin">
        Changer le nom
    </button>
    <button class="hollow small button" (click)="changeRole(myChatMember.id,'leave')"
    *ngIf="myChatMember.is_member && !myChatMember.is_creator">
        Quitter la discussion
    </button>
    <div *ngIf="view == 1">
        <h3> Liste des participants </h3>
        <ul *ngIf="chat.members">
            <div *ngFor="let chatmember of chat.members">
                <div *ngIf="chatmember.user">
                <user-inline-display [user]="chatmember.user">
                </user-inline-display>
            </div>
            </div>
        </ul>
    </div>
    <div *ngIf="view == 2">
        <h3> Liste des participants </h3>
        <ul *ngIf="chat.members">
            <div *ngFor="let chatmember of chat.members">
                <div *ngIf="chatmember.user">
                <p>
                    {{chatmember.user.firstname}} {{chatmember.user.lastname}} &nbsp;
                    <button class="hollow small button success" (click)="changeRole(chatmember.id,'admin')"
                    *ngIf="!chatmember.is_admin && !chatmember.is_banned && !chatmember.is_creator">
                        Rendre admin
                    </button>
                    <button class="hollow small button warning" (click)="changeRole(chatmember.id,'member')"
                    *ngIf="chatmember.is_admin && !chatmember.is_banned && !chatmember.is_creator">
                        Enlever admin
                    </button>
                    <button class="hollow small button alert" (click)="changeRole(chatmember.id,'banned')"
                    *ngIf="!chatmember.is_banned && !chatmember.is_creator">
                        Bannir
                    </button>
                    <button class="hollow small button" (click)="changeRole(chatmember.id,'member')"
                    *ngIf="chatmember.is_banned">
                        Enlever le ban
                    </button>
                    <span *ngIf="chatmember.is_creator"> est créateur, protégé. </span>
                </p>
            </div>
            </div>
        </ul>
    </div>
    <div *ngIf="view == 3">
        <h3> Changer le nom de la discussion </h3>
        <div class="input-group">
          <input class="input-group-field" type="text" [(ngModel)]="newChatName">
          <div class="input-group-button">
            <input type="submit" class="button" value="Changer" (click)="changeName()">
          </div>
        </div>
    </div>
</div>
</div>
