<div class="leftbar-group">
  <h3>Agenda</h3>
  <ngb-accordion #acc="ngbAccordion" activeIds="ng-panel-0">
      <ngb-panel *ngFor="let event of events">
          <template ngbPanelTitle>
              <em>{{event.date_start | date:'EEE, d' }}</em> : Event #{{event.id}}
          </template>
          <template ngbPanelContent>
              <div>
                <i class="fa fa-fw fa-clock-o"></i> {{ event.date_start | date:'H:m' }} - {{ event.date_end | date:'H:m'}}<br/>
                <i class="fa fa-fw fa-map-marker"></i> {{ event.place_name }}<br/>
                <i class="fa fa-fw fa-info-circle"></i>
                {{event.description}}
              </div>
              <button class="btn btn-secondary" [routerLink]="['/event', event.id]" routerLinkActive="active">Details</button>

          </template>
      </ngb-panel>
  </ngb-accordion>
  <button type="button" class="btn btn-secondary btn-block" routerLink="/agenda"><i class="fa fa-eye"></i> See all</button>
  <ngb-accordion #acc="ngbAccordion" activeIds="ng-panel-0">
      <ngb-panel>
          <template ngbPanelTitle>
              Add Event
          </template>
          <template ngbPanelContent>
              <input class="form-control" type="text" placeholder="Name"/>
              <textarea class="form-control" placeholder="Description"></textarea>
              <input class="form-control" type="text" placeholder="Date" />
              <button class="btn btn-primary">OK</button>
          </template>
      </ngb-panel>
  </ngb-accordion>
</div>
