<div class="card user-inline-display">
  <div class="row">
    <div class="col-auto">
      <img class="avatar" src="../resources/img/default.jpg">
    </div>
    <div class="col">
        <h4 class="card-title">Félix Martel</h4>
        <h6 class="card-subtitle">Branleur-en-chef</h6>
    </div>
  </div>
</div>
<!--<div class="callout">
    <div class="row centervertical">
        <div class="shrink centervertical">
            <div class="Avatar Avatar__Large" *ngIf="user.photo" [style.background-image]="'url(' + user.photo.file + ')'"></div>
            <div class=" Avatar Avatar__Large" *ngIf="!user.photo"></div>
        </div>
        <div class="centervertical">
            <div class="align-justify">
                &nbsp;
                <a [routerLink]="['/Users/Details', {id: user.id}]" class="name">
                    <strong>
                        &nbsp;{{ user.firstname }}&nbsp;{{ user.lastname }}
                    </strong>
                </a>
                <!-- user.getClusters() doesn't work on 04/05/2016 -->
                <!--<div *ngFor="let cluster of user.getClusters()">
                    <div *ngIf="cluster.name">
                        <i class="fa fa-university"></i> &nbsp;{{cluster.name}}
                    </div>
                </div>
                <div><i class="fa fa-envelope"></i> &nbsp;
                    <a href="mailto:{{user.email}}">{{user.email}}</a>
                </div>
                <div *ngIf="user.phone">
                    <i class="fa fa-phone"></i> &nbsp;
                    <a href="tel:{{user.phone}}">
                        {{user.phone | phoneNumberFrench }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>-->
