.user-inline-display {
  padding: $padding;
  margin-top: $margin;

  &:hover {
    background-color: $dark-white;
  }
  .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  .avatar:hover {
    opacity: 0.8;
  }

}

.user-field-list {
  margin-top: $margin;

  i {
    display: inline-block;
    width: 7rem;
  }
  .list-group-item {
    background-color: transparent;
  }
}
