.aside {
    width: $aside-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background-color: $color-aside;
    color: $color-font-aside;
}

.aside--main-container {
    margin-left: $aside-width;
}
