<div class="row">
    <h2>
        {{ user.firstname }}
        {{ user.lastname }}
    </h2>
</div>
<div class="row">
    <div class="medium-6 columns">
        <dl>
            <dt>Email</dt>
            <dd>{{ user.email }}</dd>
        </dl>
    </div>
    <div class="medium-6 columns">
        <dl>
            <dt>Téléphone</dt>
            <dd>{{ user.phone | phoneNumberFrench }}</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="small-4 columns callout" *ngFor="#membership of user.memberships">
        {{ membership.group.name }}
    </div>
    <div *ngIf="user.memberships && user.memberships.length === 0">
        {{ user.firstname }} n'est dans aucun groupe
    </div>
</div>
