
<div class="column medium-8 large-8">
	<header class="column">
		<div class="row column align-center">
			<h1>SIGMA</h1>
		</div>
		<hr>
	</header>

	<article class="row">
		<aside class="small-3 columns">
			<div class="row align-center text-center">
				<h2>Bataille d'improvisation</h2>
			</div>
			<div class="row align-center">
				<p>
					<i class="fa fa-map-marker"></i> Opéra Bastille<br>
					<i class="fa fa-calendar"></i> Mardi à 19:30
				</p>
			</div>
			<div class="row align-center">
				<button class="button-ok ">
					<i class="fa fa-check"></i> Go !
				</button>
				<button class="button-no">
					<i class="fa fa-times"></i> Bof...
				</button>
			</div>
		</aside>
		<section class="small-9 columns">
			Le BDA revient vers vous pour fêter la fin des partiels ou vous donner une raison de revenir à champs après la semaine ATHENS!<br>
			<br>
			Encore un magnifique ballet, à l'opéra Bastille cette fois: La Bayadère!<br>
			Chorégraphié en 1992 par Noureev pour l'Opéra de Paris, d'après le ballet du grand chorégraphe Marius Petipa et sur la musique de Ludwig Minkus, la Bayadère est un conte oriental mettant en scène les amours contrariées de la danseuse hindoue Nikiya et du noble guerrier Solor.<br>
			Amour, rivalité, et conspirations font le livret de ce ballet étincelant et virtuose, servi par les décors somptueux d'Ezio Frigerio et les costumes chatoyants de Franca Squarciapino, inspirés de l'ancienne Perse et d'une Inde fantasmée. Succès jamais démenti de l'Opéra de Paris, La Bayadère est restée une fête pour les yeux, avec ses morceaux de bravoure et ses grands mouvements d'ensemble.
		</section>
	</article>
	<hr>
	<article class="row">
		<section class="small-9 columns">
			<div class="flex-video widescreen">
				<iframe src="https://www.youtube.com/embed/BJz7tqhgp4g" frameborder="0" allowfullscreen></iframe>
			</div>
		</section>
		<aside class="small-3 columns">
			<div class="row align-center text-center">
				<h2>De la bonne musique</h2>
			</div>
			<div class="row align-center">
				<p>
					<i class="fa fa-map-marker"></i> Partout<br>
					<i class="fa fa-calendar"></i> Tout le temps
				</p>
			</div>
			<div class="row align-center">
				<button class="button-primary">
					<i class="fa fa-check"></i> Ahah ahah ahah
				</button>
			</div>
		</aside>
	</article>
</div>