<form #editPasswordForm="ngForm">
    <div [hidden]="!onSuccess" class="success callout">Le mot de passe a été modifié avec succès</div>
    <label>Mot de passe actuel :
        <input #controlActual="ngForm" [(ngModel)]="actualPassword" ngControl="actual" required type="password">
    </label>
    <div [hidden]="controlActual.valid" class="alert callout">Mot de passe incorrect</div>
    <label>Nouveau mot de passe :
        <input #controlNew="ngForm" [(ngModel)]="newPassword" ngControl="new" required type="password">
    </label>
    <div [hidden]="controlNew.valid" class="alert callout">Le nouveau mot de passe doit faire plus de 8 caractères</div>
    <div class="row align-center">
        <button (click)="editPassword(actualPassword, newPassword)" [disabled]="!editPasswordForm.form.valid" class="success button" type="submit">Modifier son mot de passe</button>
    </div>
</form>
