<h1>
  <small *ngIf="group.private">
    <i class="fa fa-eye-slash"></i>
  </small>
  <small *ngIf="!group.private">
    <i class="fa fa-eye"></i>
  </small>
    {{ group.name }}
</h1>
<div *ngIf="group.description" class="description">
    {{ group.description }}
</div>
<div class="row">
    <h3>Membres du groupe</h3>
    <span *ngIf="canJoinGroup()">
        &nbsp;<button (click)="joinGroup()" class="button-primary">
        Rejoindre le groupe
        </button>
    </span>
</div>
<div class="row">
    <div *ngFor="let membership of group.memberships" class="medium-12 large-6 card">
        <div *ngIf="membership && membership.user && membership.user.id">
            <user-inline-display [user]="membership.user">
            </user-inline-display>
        </div>
    </div>
</div>
