<h1>
  <small *ngIf="group.private">
    <i class="fa fa-eye-slash"></i>
  </small>
  <small *ngIf="!group.private">
    <i class="fa fa-eye"></i>
  </small>
    {{ group.name }}
    <small *ngIf="resp_group.name"> | {{ resp_group.name }}</small>
</h1>
<h3>Membres du groupe</h3>
<li *ngFor="let user of members">
    <div style="display: inline-block;" *ngIf="user.photo">
        <div class="Avatar Avatar__Small" style="background-image: url('{{ user.photo.file }}')"></div>
    </div>
    <a [routerLink]="['/Users/Details', {id: user.id}]">{{ user.firstname }}</a>
</li>
