<h1>Profil</h1>
<div *ngIf="!editMode && !editPassword">
    <profile-display [user]="me"></profile-display>
    <button (click)="editMode = true" class="success button">
        Modifier le profil
    </button>
    <button (click)="editPassword = true" class="success button">
        Modifier mon mot de passe
    </button>
</div>
<div *ngIf="editMode" class="row align-center">
    <form #editProfileForm="ngForm" class="large-10 columns callout">
        <label>E-mail :
            <input #controlEmail="ngForm" [(ngModel)]="meEdit.email" ngControl="email" required type="text">
        </label>
        <div [hidden]="controlEmail.valid" class="alert callout">Il te faut entrer une adresse e-mail.</div>
        <label>Téléphone :
            <input #controlPhone="ngForm" [(ngModel)]="meEdit.phone" ngControl="phone" type="text">
        </label>
        <div [hidden]="controlPhone.valid" class="alert callout">Ton numéro de téléphone n'est pas bien formaté.</div>
        <label>Photo de profil :
            <div class="row">
                <div *ngIf="meEdit.photo" class="medium-6 columns">
                    <img src="{{ meEdit.photo.file }}" alt="Ma photo de profil"/>
                </div>
                <div class="medium-6 columns">
                    <div>Importer une nouvelle photo :</div>
                    <input (change)="profilePictureChangeListener($event)" type="file">
                </div>
            </div>
        </label>
        <div class="row align-center">
            <button (click)="editMode = false" class="warning button">Retourner à l'affichage du profil</button>
            <button (click)="editProfile(meEdit,profilePicture)" [disabled]="!editProfileForm.form.valid" class="success button" type="submit">Modifier son profil</button>
        </div>
        <div [hidden]="!errorOnEdit" class="alert callout">Erreur lors de la modification du profil.</div>
    </form>
</div>
<div class="row align-center" *ngIf="editPassword">
    <div class="large-2 columns">
        <button (click)="editPassword = false" class="warning button">Retour</button>
    </div>
    <edit-password class="large-10 columns callout"></edit-password>
</div>
