$color-background: #fff;
$color-font: #000;

$color-aside: #333;
$color-font-aside: #fff;

$color-primary: #2199e8;
$color-success: #3adb76;
$color-warning: #ffae00;
$color-alert: #ec5840;

@import '../bootstrap';
