<div class="callout">
    <div class="row expanded align-justify">
        <div class="small-5">
            <a [routerLink]="['/Groups/Details', {id: group.id}]"><strong>&nbsp;{{ group.name }}</strong></a>
        </div>
        <div class="small-7">
            <div class="row align-justify">
        <div *ngIf="group.memberships" class="columns shrink">
            <i class="fa fa-users"></i>
            &nbsp;{{group.members_count}}
        </div>
        <div *ngIf="group.resp_group &&
            group.resp_group.name &&
            group.resp_group.id !== group.id" class="shrink school">

            <a [routerLink]="['/Groups/Details',{id: group.resp_group.id}]">
                {{group.resp_group.name}}
            </a>
            <i class="fa fa-university"></i>&nbsp;
        </div>
    </div>
</div>
    </div>
</div>
