<div class="callout">
    <div class="row expanded align-justify">
        <div class="columns shrink">
            <a [routerLink]="['/Groups/Details', {id: group.id}]"><strong>&nbsp;{{ group.name }}</strong></a>
        </div>
        <div *ngIf="group.memberships" class="columns shrink">
            <i class="fa fa-users"></i>
            &nbsp;{{group.memberships.length}}
        </div>
        <div *ngIf="group.group_resp_group &&
            group.group_resp_group.name &&
            group.group_resp_group.id !== group.id" class="columns shrink">
            <i class="fa fa-university"></i>
            &nbsp;
            <a [routerLink]="['/Groups/Details',{id: group.group_resp_group.id}]">
                {{group.group_resp_group.name}}
            </a>
        </div>
    </div>
</div>
