$app-background-color: $color-background;

a {
    cursor: pointer;
    color: $color-font;
    text-decoration: none;

    &:hover {
        color: $color-primary;
    }
}

.h3 {

    &__title {
        font-size: 1.5em;
        line-height: 1em;
        font-family: $title-font;
    }
}
