$landing-page-title-background-color: $black;

.landing-page {

    &__title {
        background-color: $landing-page-title-background-color;
        color: $white;

        div {
            padding-top: rem-calc(20);
            padding-bottom: rem-calc(25);
        }
    }
}
