<div [routerLink]="['/Users/Details', {id: api.me.id}]" class="aside__profile" *ngIf="api.me.id">
    <div *ngIf="api.me.photo" class="Avatar Avatar__Large" [style.background-image]="'url(' + api.me.photo.file + ')'"></div>
    <div>
        <div class="h3__title">
            {{ api.me.firstname }} {{ api.me.lastname }}
        </div>
        <div class="h3__subtitle">
            École polytechnique
        </div>
    </div>
</div>
<ul class="aside__navlinks">
    <li class="aside__navlink" routerLink="/main" routerLinkActive="active">
        <i class="fa fa-home"></i> Accueil
    </li>
    <li class="aside__navlink" routerLink="/users" routerLinkActive="active">
        <i class="fa fa-user"></i> Annuaire
    </li>
    <li class="aside__navlink" routerLink="/groups" routerLinkActive="active">
        <i class="fa fa-users"></i> Groupes
    </li>
	<li class="aside__navlink">
        <i class="fa fa-commenting-o"></i> Messenger
    </li>
    <li class="aside__navlink">
        <i class="fa fa-calendar"></i> Calendrier
    </li>
    <li class="aside__navlink" routerLink="/settings" routerLinkActive="active">
        <i class="fa fa-wrench"></i> Réglages
    </li>
    <li class="aside__navlink" (click)="logout()">
        <i class="fa fa-sign-out"></i> Déconnexion
    </li>
</ul>
