
<h1>Liste des membres</h1>
<div>Groupe : {{group.name}}</div>
<div>Description : {{group.description}}</div>
<div class="input-group search-members">
  <input type="text" class="form-control">
  <div class="input-group-btn">
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="input-group-btn">
    <button type="button" class="btn btn-secondary" (click)="showAdvancedSearch = !showAdvancedSearch">
      Avancé
    </button>
  </div>
</div>

<div class="row">
  <div class="col member-list">
    <user-inline-display [user]="user">
    </user-inline-display>
  </div>
  <div *ngIf="showAdvancedSearch" class="col col-4">

  </div>
</div>
