
<h1>Liste des membres</h1>
<div>Groupe : {{group.name}}</div>
<div>Description : {{group.description}}</div>
<div class="input-group search-members">
  <input type="text" class="form-control">
  <!--<div class="input-group-btn">
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-search"></i>
    </button>
  </div>-->
  <div class="input-group-btn">
    <button type="button" class="btn btn-secondary" (click)="showAdvancedSearch = !showAdvancedSearch">
      Avancé
    </button>
  </div>
</div>
  <!--<div class="card inline-group-member row align-items-center">

    <div class="col col-sm-auto">
      <img class="avatar" src="../resources/img/default.jpg">
    </div>
    <div class="col">
      <div class="card-block titles">
        <h4 class="card-title">Denis Mérigoux</h4>
        <h6 class="card-subtitle">Branleur-en-chef</h6>
      </div>
    </div>
  </div>-->
<div class="row">
  <div class="col member-list" name="displayuser" *ngIf="loaded">
      <user-inline-display *ngFor="let member of members" [membership]="member" [groupfields]="groupfields"></user-inline-display>
  </div>
  <div *ngIf="showAdvancedSearch" class="col col-4">
      <searcher [group]="group">Loading...</searcher>
  </div>
</div>
