
<h1>Liste des membres</h1>
<div>Groupe : {{group.name}}</div>
<div>Description : {{group.description}}</div>
<div class="input-group search-members">
  <input type="text" class="form-control">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default">
      <i class="fa fa-search"></i>
    </button>
    <button type="button" class="btn btn-default">
      Avancé
    </button>
  </div>
</div>

<div class="member-list">
  <div class="card inline-group-member">

  </div>
</div>
