<div id="main-rightbar" class="column align-right right show-for-large large-2">
  <div class="main-rightbar-group">
    <div class="row align-middle">
      <div class="column shrink">
        <img src="https://www.atelierdeschefs.com/media/recette-e13445-gaufre-tres-legere.jpg" class="profil-pic float-center"/>
      </div>
      <div class="profil-name">
        <h5>Michel Gauffre</h5>
      </div>
    </div>

    <div class="flux-stickbottom">
      <h3>Flux</h3>
      <div class="card">
        <div class="card-block">
          <h5 class="card-title title">Réunion PSC</h5>
          <div class="card-text">
            <i class="fa fa-fw fa-clock-o"></i> 15 min <br>
            <i class="fa fa-fw fa-info-circle"></i> PSC Sigma <br>
            <button type="button" class="btn btn-warning"><i class="fa fa-eye-slash" aria-hidden="true"></i> Hide</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h5 class="card-title title">Fissure</h5>
          <div class="card-text">
            <i class="fa fa-fw fa-clock-o"></i> 8 min <br>
            <i class="fa fa-fw fa-info-circle"></i> Binet Subaïsse<br>
            <button type="button" class="btn btn-warning"><i class="fa fa-eye-slash" aria-hidden="true"></i> Hide</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
