.flux-stickbottom {
    position: fixed;
    bottom: 0;
    width: inherit;
    padding: 12px;

    a {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}

.profil-pic {
	width: 8.5rem;
	height: 8.5rem;
	border-radius: 5%;
}

.profil-name {
	padding: 6px;
}

.profil-content {
	margin-left: 24px;
	margin-right: 24px;
}