
<div id="group-writing-wrapper" class="row justify-content-end group-writing-wrapper">
<div class="col-8 card group-writing-card">
  <h4>Post in : Group 1 </h4>
  <div class="form-group">
	<input type="text" class="form-control" placeholder="Title">
	<textarea rows="4" class="form-control" placeholder="content"></textarea>
	<div class="btn-group">
	  <button type="button" class="btn btn-default"><i class="fa fa-camera"></i></button>
	  <button type="button" class="btn btn-default"><i class="fa fa-video-camera"></i></button>
	  <button type="button" class="btn btn-default"><i class="fa fa-file-o"></i></button>
	  <button type="button" class="btn btn-default"><i class="fa fa-calendar-o"></i></button>
	</div>
  </div>
</div>
</div>
<div class="add-button" hidden>
<button type="button" data-toggle="write-new-post" class="large button">+</button>
</div>
<div class="card">
<div class="card-block">
  <h4 class="card-title">This is a title</h4>
  <h6 class="card-subtitle mb-2 text-muted">by John Smith on Dec, 24</h6>
  <div class="card-text">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita
	</p>
	<div class="btn-group">
	  <button class="btn btn-default" name="save"><i class="fa fa-star"></i></button>
	  <button class="btn btn-default" name="remind"><i class="fa fa-bell"></i></button>
	  <button class="btn btn-default" name="reply"><i class="fa fa-comment"></i></button>
	  <button class="btn btn-default" name="share"><i class="fa fa-share-alt"></i></button>
	</div>
  </div>

</div>
</div>