/*****************************
********* Components *********
******************************/

/* App */
$app-background-color : $color-background;

/* Aside */
$aside-width: rem-calc(250);

/* Landing page */
$landing-page-title-background-color : $black;

/* Login form */
$login-form-background-color: $light-gray;
