<div class="row">
    <div style="float:left;" *ngIf="user.photo">
        <div class="Avatar Avatar__Large" [style.background-image]="'url(' + user.photo.file + ')'"></div>
    </div>
    <h2>
        {{ user.firstname }}
        {{ user.lastname }}
    </h2>
</div>
<div class="row">
    <div class="medium-6 columns">
        <dl>
            <dt>Email</dt>
            <dd>{{ user.email }}</dd>
        </dl>
    </div>
    <div *ngIf='user.phone' class="medium-6 columns">
        <dl>
            <dt>Téléphone</dt>
            <dd>{{ user.phone | phoneNumberFrench }}</dd>
        </dl>
    </div>
</div>

<div class="row">
    <h3> Groupes auxquels appartient {{user.firstname}} </h3>
    <div class="small-12 columns">
        <div *ngFor="let membership of realMemberships()">
            <div *ngIf="membership && membership.group && membership.group.id">
                <group-inline-display [group]="membership.group">
                </group-inline-display>
            </div>
        </div>
        <div *ngIf="user.memberships && realMemberships() === 0">
            {{ user.firstname }} n'est dans aucun groupe
        </div>
    </div>
</div>
<div *ngIf="existPendingMemberships()">
    <div class="row">
        <h3>Demandes d'adhésion</h3>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div *ngFor="let membership of pendingMemberships()">
                <div *ngIf="membership && membership.group && membership.group.id">
                    <group-inline-display [group]="membership.group">
                    </group-inline-display>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="existInvitedMemberships()">
    <div class="row">
        <h3>Invitations en attente</h3>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div *ngFor="let membership of invitedMemberships()">
                <div *ngIf="membership && membership.group && membership.group.id">
                    <group-inline-display [group]="membership.group">
                    </group-inline-display>
                </div>
            </div>
        </div>
    </div>
</div>
