$color-background: #e6e6e6;
$color-font: #000;
$color-aside: #333;
$color-font-aside: #fff;
$color-primary: #1377b9;
$color-success: #1a8622;
$color-warning: #e69c00;
$color-alert: #b92a13;
@import '../bootstrap';
