$color-background: #E6E6E6;
$color-font: #000;
$color-aside: #333;
$color-font-aside: #FFF;
$color-primary: #1377B9;
$color-success: #1A8622;
$color-warning: #E69C00;
$color-alert: #B92A13;
@import '../bootstrap';
