<div class="aside__profile">
    <div class="Avatar Avatar__Large" style="background-image: url('http://localhost:8000/media/img/U9SYozzS24P2OHCWs2zh-O8KPt8F4cyWVh2dc6SG-kom1zzBgTl9NaIlOZ_9mWbcTr7pBqq-D3C17oVMrpoi4tl9tYgheWdMJT6UnXVHo2WGO34mMwuJgnuHg9xO4kR0WCw8OWtGsavoY1CPDBPAbu.JPG')"></div>
    <div>
        <div class="h3__title">
            {{ auth_service.user.firstname }} {{ auth_service.user.lastname }}
        </div>
        <div class="h3__subtitle">
            École polytechnique
        </div>
    </div>
</div>
<ul class="aside__navlinks">
    <li class="aside__navlink" [routerLink]="['/Main']">
        <i class="fa fa-home"></i>
        Accueil
    </li>
    <li class="aside__navlink" [routerLink]="['/Users']">
        <i class="fa fa-user"></i>
        Annuaire
    </li>
    <li class="aside__navlink" [routerLink]="['/Groups']">
        <i class="fa fa-users"></i>
        Groupes
    </li>
    <li class="aside__navlink">
        <i class="fa fa-calendar"></i>
        Calendrier
    </li>
    <li class="aside__navlink" [routerLink]="['/Settings']">
        <i class="fa fa-wrench"></i>
        Réglages
    </li>
    <li class="aside__navlink" (click)="logout()">
        <i class="fa fa-sign-out"></i>
        Déconnexion
    </li>
</ul>
