<login-form>Loading login form...</login-form>

<ul class="aside__navlinks">
    <li class="aside__navlink active" [routerLink]="['/Main']">
        <i class="fa fa-home"></i>
        Accueil
    </li>
    <li class="aside__navlink" [routerLink]="['/Users']">
        <i class="fa fa-users"></i>
        Annuaire
    </li>
    <li class="aside__navlink">
        <i class="fa fa-calendar"></i>
        Calendrier
    </li>
    <li class="aside__navlink">
        <i class="fa fa-wrench"></i>
        Réglages
    </li>
    <li class="aside__navlink">
        <i class="fa fa-sign-out"></i>
        Déconnexion
    </li>
</ul>
