<div id="clouds">
  <div style="position:absolute; top:50%;">
    <div class="cloud x1"></div>
  	<!-- Time for multiple clouds to dance around -->
  	<div class="cloud x2"></div>
  	<div class="cloud x3"></div>
  	<div class="cloud x4"></div>
  	<div class="cloud x5"></div>
  </div>

    <h1 style="margin-top:5%;width:130px;margin-left:auto;margin-right:auto;">Sigma</h1>


  <div class="container" style="margin-left:auto;margin-right:auto;">
      <div class="card card-container">
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin">
              <span id="reauth-email" class="reauth-email"></span>
              <input type="email" [(ngModel)]="username" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <input type="password" [(ngModel)]="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox" value="remember-me"> Remember me
                  </label>
              </div>
              <button (click)="login()" class="btn btn-secondary" style="margin-top:20px;margin-left:auto;margin-right:auto;width:100px" type="submit">Sign in</button>
          </form><!-- /form -->
          <a href="#" style="margin-left:auto;margin-right:auto;" class="forgot-password">
              Forgot the password?
          </a>
      </div><!-- /card-container -->
  </div><!-- /container -->

</div>
