<header class="login__title">
    <div class="align-center">
        <h1>SIGMA</h1>
		<h2>réseau social étudiant (en cours de développement)</h2>
    </div>
</header>

<div class="login__form-container row">
   <div class="col-sm-12 col-md-7">
	   <h2>Bienvenue sur Sigma !</h2>
	   <p>Sigma est un site communautaire réalisé par des étudiants et pour des étudiants. Il est fondé sur l'esprit de promo et la vie associative en école d'ingénieur ou à l'université. Contacte ton BDE pour savoir si ton établissement fait partie du réseau.</p>
   </div>
   <div class="col-sm-12 col-md-5">
		<login-form class="login-form align-center">Loading login form...</login-form>
   </div>
</div>

<div class="login__footer">
	<div class="row">
		<div class="col-sm-10 col-md-4">
			<h3>Fonctionnalités</h3>
			<p>Sigma proposera les fonctionnalités basiques d'un réseau social (messagerie, groupes, notifications...) mais de façon adaptée à la vie associative</p>
			<p>Un <em>calendrier</em> personnel vous permettra d'indiquer à quels événements vous souhaitez participer (tournoi sportif, soirée, conférence...)</p>
		</div>
		<div class="col-sm-10 col-md-4">
			<h3>Planning</h3>
			<p>Sigma proposera une version <em>alpha</em> pour les volontaires de chaque école en décembre 2016. Les premiers retours d'utilisateurs permettront de produire une <em>beta</em> stable pour la rentrée 2017.</p>
			<p>Si vous souhaitez participer à la version alpha, rejoignez nous dans l'espace développeurs</p>
		</div>
		<div class="col-sm-10 col-md-4">
			<h3>Développeurs</h3>
			<p>Sigma est en développement. Une dizaine de membre actifs venant de l'X, l'ENS, MinesPonts et Supoptique y travaillent en ce moment.</p>
			<p>Pour consulter le code, veuillez vous rendre <a href="https://github.com/ProjetSigma">ici</a> !</p>
		</div>
	</div>
</div>