<h1>
    Mon profil
    <small *ngIf="!editMode && !editPassword">
        <button (click)="editMode = true" class="button-default">
            Modifier mes informations
        </button>
        <button (click)="editPassword = true" class="button-default">
            Modifier mon mot de passe
        </button>
    </small>
</h1>
<profile-display *ngIf="!editMode && !editPassword" [user]="me"></profile-display>
<div *ngIf="editMode" class="row align-center">
    <form #editProfileForm="ngForm" class="large-10 columns callout">
        <label>E-mail :
            <input [(ngModel)]="meEdit.email" ngControl="email" required type="text">
        </label>
        <!--<div [hidden]="controlEmail.valid" class="alert callout">Il te faut entrer une adresse e-mail.</div>-->
        <label>Téléphone :
            <input [(ngModel)]="meEdit.phone" ngControl="phone" type="text">
        </label>
        <!--<div [hidden]="controlPhone.valid" class="alert callout">Ton numéro de téléphone n'est pas bien formaté.</div>-->
        <label>Photo de profil :
            <div class="row">
                <div *ngIf="meEdit.photo" class="medium-6 columns">
                    <img src="{{ meEdit.photo.file }}" alt="Ma photo de profil"/>
                </div>
                <div class="medium-6 columns">
                    <div>Importer une nouvelle photo :</div>
                    <input (change)="profilePictureChangeListener($event)" type="file">
                </div>
            </div>
        </label>
        <div class="row align-center">
            <button (click)="editMode = false" class="button-warning">Retourner à l'affichage du profil</button>
            <button (click)="editProfile(meEdit,profilePicture)" [disabled]="!editProfileForm.form.valid" class="button-ok" type="submit">Modifier son profil</button>
        </div>
        <div [hidden]="!errorOnEdit" class="alert callout">Erreur lors de la modification du profil.</div>
    </form>
</div>
<div class="row align-center" *ngIf="editPassword">
  <edit-password class="large-10 columns callout"></edit-password>
  <div class="large-2 columns">
      <button (click)="editPassword = false" class="button-warning">Retour</button>
  </div>
</div>
