<div class="card group-writing-card">
  <h4>Post in : {{group.name}} </h4>
  <div>
    <input type="text" class="form-control" placeholder="Title">
    <textarea rows="4" class="form-control" placeholder="Content"></textarea>
    <form class="form-inline">
      <div class="btn-group" style="">
        <button type="button" class="btn btn-secondary"><i class="fa fa-camera"></i></button>
        <button type="button" class="btn btn-secondary"><i class="fa fa-video-camera"></i></button>
        <button type="button" class="btn btn-secondary"><i class="fa fa-file-o"></i></button>
        <button type="button" class="btn btn-secondary"><i class="fa fa-calendar-o"></i></button>
      </div>
      <button type="button" style="margin-left:50%;" class="btn btn-primary">Post</button>
    </form>
  </div>
</div>
